@charset "UTF-8";
/*Обнуление всех отступов на странице*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Отображение семантических елементов как блочных*/
nav, footer, header, aside, ul {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 930px;
  margin: 0 auto;
}

section {
  padding: 119px 0;
}

.title {
  text-align: center;
}
.title h2 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 14px 0;
}
.title p {
  font-size: 16px;
  color: #777777;
}

.header {
  background: url(../img/first-bg.jpg) center top/cover no-repeat;
  padding: 54px 0 160px 0;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav .menu li {
  margin: 0 0 0 42px;
}
.header .nav .menu li a {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .nav .menu li a:hover {
  text-decoration: underline;
}
.header .header-title {
  padding: 200px 0 0 0;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
}
.header .header-title p {
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: -1px;
}
.header .header-title h1 {
  font-size: 75px;
  margin-bottom: 45px;
  letter-spacing: -1.88px;
}
.header .header-title .btn {
  display: block;
  font-size: 18px;
  font-weight: 700;
  background: #FED136;
  border-radius: 2px;
  width: 241px;
  color: #484543;
  line-height: 66px;
  margin: 0 348px 0 342px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .header-title .btn:hover {
  background: #fff;
  -webkit-box-shadow: 1px 1px 15px #FED136;
          box-shadow: 1px 1px 15px #FED136;
}

.services .columns {
  padding: 77px 0 0 0;
  text-align: center;
}
.services .columns .colums__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -41px;
}
.services .columns .colums__row .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 41px;
}
.services .columns .colums__row .column .column__img {
  margin-bottom: 24px;
}
.services .columns .colums__row .column .column__title {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  letter-spacing: -0.45px;
  margin-bottom: 13px;
}
.services .columns .colums__row .column .column__text {
  color: #777777;
  letter-spacing: -0.35px;
  line-height: 1.5em;
}

.portfolio {
  background: #f7f7f7;
}
.portfolio .portfolio__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0 0 0;
}

.about .about__row {
  padding: 77px 0 0 0;
}
.about .about__row .about__item_1 {
  margin-bottom: 93px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about .about__row .about__item_1:last-child {
  margin-bottom: 0;
}
.about .about__row .about__item_1 .about__text {
  display: inline-block;
  width: 283px;
  text-align: right;
  margin-left: 53px;
}
.about .about__row .about__item_1 .about__text h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 1.5em;
}
.about .about__row .about__item_1 .about__text p {
  padding: 10px 0 0 0;
  color: #777777;
  letter-spacing: -0.35px;
  line-height: 1.5em;
}
.about .about__row .about__item_1 .about__img {
  margin: 0 0 0 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about .about__row .about__item_1 .about__img:hover {
  margin: 0;
}
.about .about__row .about__item_2 {
  padding-left: 378px;
  margin-bottom: 93px;
}
.about .about__row .about__item_2:last-child {
  margin-bottom: 0;
}
.about .about__row .about__item_2 .about__text {
  display: inline-block;
  width: 283px;
}
.about .about__row .about__item_2 .about__text h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 1.5em;
}
.about .about__row .about__item_2 .about__text p {
  padding: 10px 0 0 0;
  color: #777777;
  letter-spacing: -0.35px;
  line-height: 1.5em;
}
.about .about__row .about__item_2 .about__img {
  margin: 0 38px 0 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about .about__row .about__item_2 .about__img:hover {
  margin: 0;
}

.credits {
  padding: 0 0 110px 0;
  text-align: center;
  color: #878787;
}